@CHARSET "UTF-8";
.front_contact_info_field{
    color: #000;
    margin-left: 10px;
}
@media all and (min-device-width: 768px) {
	.front_page_block {
		height: 100%;
	}
	.front_page_block.ng-enter{
		-webkit-animation: fadeInUp 5s;
	    -moz-animation: fadeInUp 5s;
	    -ms-animation: fadeInUp 5s;
	    animation: fadeInUp 5s;
	}
	.vertical-center {
		min-height: 100% !important;
		min-height: 100vh !important;
		display: flex !important;
		display: -webkit-flex !important;
		align-items: center !important;
		-webkit-align-items: center !important;
		justify-content: center;
	}
	.jumbotron {
		margin-bottom: 0px !important;
		background-color: transparent !important;
	}
	.navbar-brand {
		padding: 10px !important;
	}
	.my_navbar_brand_copy_right,.my_navbar_brand_copy_right>span {
		color: #000;
		font-size: 13px;
		margin: 20px auto;
		letter-spacing: 3px;
	}
	.flexcontainer {
		height:200px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
}