<!-- wine info query controller -->
<div ng-controller="wineInfoQueryCtrl as ctrl" class="index_page_block">
	<div class=" jumbotron vertical-center text-center">
        <div class="container">
            <div class="row search_block">
                <!-- search input group -->
                <div class="input-group">
                    <!-- info field with query event while clicking Enter -->
                    <input type="text" class="form-control wine_info_query_field" ng-model = "ctrl.query_keywords" placeholder="Query Keywords" ng-keyup = "ctrl.search_wine_info_of_keyup($event)">
                   
                   <!-- query button -->
                    <span class="input-group-btn">
                       <input class="btn btn-default" type="button" value="Search" ng-click = "ctrl.search_wine_info()">
                    </span>
                </div>
                <!-- /search input group -->
            </div>
            <br>
              <!-- query result -->
              <div ng-if="ctrl.has_query_result" class="animate-if">
                  <!-- query result (text) -->
                  <div class="row">
                    <!-- Vivino -->
                    <div class="col-sm-12 col-md-4">
                        <h4>Vivino</h4>
                        <input class="form-control query_filter_filed" type="text" placeholder="Filter ([[ctrl.vivno_result_list.length]] results)" ng-model="ctrl.query_keyword_vivino">
                        <br>
                        <ul class="list-group result_list">
                            <li class="list-group-item animate-repeat" ng-repeat = "info in ctrl.vivno_result_list | filter:ctrl.query_keyword_vivino">
                                <div class="list-group">
                                    <div class="container vivino_container">
                                    <h4 class="list-group-item-heading">[[info.mark_name]] [[info.wine_name]]</h4>
                                    <div class="list-group-item-text">
                                        <input type="button" value="[[ctrl.is_info_saved('vivino', info, $event)]]" class="btn btn-danger save" ng-click="ctrl.save('vivino', [[info]], $event)">
                                        <button type="button" class="btn btn-warning btn-circle" ng-show="info.price_link !== null" ng-click="ctrl.open_url([[info.price_link]])"><i class="glyphicon glyphicon-info-sign"></i></button>
                                    </div>
                                    <img src="https:[[info.img_link]]" class="img-responsive vivino_img">
                                    <span class="list-group-item-text">Region: [[info.region]]</span><br/>
                                    <span class="list-group-item-text">Rating:&nbsp;[[info.rating]]</span>&nbsp;<span>Rating&nbsp;Count:&nbsp;[[info.rating_count]]</span><br/>
                                    <!--a href="[[info.price_link]]" target="_blank" class="btn btn-warning">Price Info</a-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- snooth -->
                    <div class="col-sm-12 col-md-4">
                        <h4>Snooth</h4>
                        <input class="form-control query_filter_filed" type="text" placeholder="Filter ([[ctrl.snooth_query_result_list.length]] results ordered by asc. price)" ng-model="ctrl.query_keyword_snooth">
                        <br/>
                        <ul class="list-group result_list">
                            <li class="list-group-item animate-repeat" ng-repeat = "info in ctrl.snooth_query_result_list | filter:ctrl.query_keyword_snooth">
                                <div class="list-group">
                                    <div class="container">
                                        <h4 class="list-group-item-heading">[[info.name]]</h4>
                                        <span>Vintage:&nbsp;[[info.vintage]]&nbsp;</span>
                                        <span>Price:&nbsp;$[[info.price]]&nbsp;</span><br/>
                                        <span class="list-group-item-text">Region: [[ctrl.replace_empty_str(info.region)]]</span><br/>
                                        <span class="list-group-item-text">Winery: [[info.winery]]</span><br/>
                                        <a href="[[info.link]]" target="_blank" class="btn btn-warning">Product Info</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- wine searcher -->
                    <div class="col-sm-12 col-md-4">
                        <h4>Wine Searcher</h4>
                        <input class="form-control query_filter_filed" type="text" placeholder="Filter ([[ctrl.wine_searcher_result_list.length]] results ordered by asc. price)" ng-model="ctrl.query_keyword_wine_searcher">
                        <br/>
                        <ul class="list-group result_list">
                            <li class="list-group-item animate-repeat" ng-repeat = "info in ctrl.wine_searcher_result_list | filter:ctrl.query_keyword_wine_searcher">
                                <div class="list-group">
                                    <div class="container">
                                    <h4 class="list-group-item-heading">[[info.wine_name]]</h4>
                                    <span class="list-group-item-text">Price: $[[info.price]]</span><br/>
                                    <span class="list-group-item-text">Seller: [[info.seller_name]]</span><br/>
                                    <span class="list-group-item-text">Seller Location: [[info.seller_location]]</span><br/>
                                    <a href="[[info.seller_link]]" target="_blank" class="btn btn-warning" ng-show="info.seller_link !== 'NA'">Seller Info</a>
                                    <a href="[[info.product_link]]" target="_blank" class="btn btn-warning">Product Info</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </div>
              </div>
        </div>
	</div>
</div>
